[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
apscheduler = "*"
bilibili-api = "*"
pyqt5 = "*"
httpx = "*"
qrcode = "*"

[dev-packages]

[requires]
python_version = "3.10"
